 .container {
            margin-top: 30px;
            font-family: 'Lato', sans-serif;
        }

        .image {
            float: left;
            margin-left: 200px;
        }

        .w3-content {
            width: 700px;
            height: 450px;
        }

        .mySlides {
            width: 100%;
            height: 100%;
        }

        .info {
            position: fixed;
            width: 380px;
            margin-left: 920px;
            /* margin-right: 200px; */
            border: 0.5px solid rgb(155, 155, 155);
            border-radius: 5px;
            padding: 10px;
        }

        .avatar {
            width: 100px;
            height: 100px;
            float: left;
        }

        .avt-img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        .info-user {
            float: left;
            margin-left: 20px;
        }

        .info-user .name {
            font-size: 16px;
            font-weight: 600;
        }

        .info-user p i {
            font-size: 20px;
            margin-right: 10px;
            color: #3a9dfa;
        }


        .info-detail {
            float: left;
            width: 700px;
            margin-left: 200px;
            font-size: 18px ;
        }
        .info-detail .title{
            font-size: 24px;
            font-weight: 600;
            margin-bottom: -10px;
        }

        .info-detail .price{
            color: rgb(9, 77, 224);
            font-weight: 600;
            font-size: 25px;
            margin-top: -10px;
        }

        .info-detail h3{
            font-weight: 600;
        }

        .detail{
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
        }

        .fa-comments{
            color: rgb(9, 77, 224);
            font-size: 30px;
            margin-left: 10px;
        }

        .box-cmt{
            float: left;
            font-size: 14px;
            padding: 5px;
            resize: none;
            margin-left: 140px;
            border-radius: 5px;
            width: 500px;
            margin-top: -50px;
        }
        .cmt{
            padding: 20px;
            height: 200px;
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
            margin-bottom: 100px;
            width: 700px;
            /* border: 0.5px solid rgb(155, 155, 155); */
        }
        .cmt-avt{
            margin-left: 60px;
            margin-top: 10px;
            width: 60px;
            height: 60px;
        }
        table{
            width: 100%;
        }
    
        td{
            padding: 10px;
        }

        .tbl-title{
            width: 160px;
            color: rgb(146, 146, 146);
            font-weight: 600;
        }
         @media screen and (max-width: 768px) {
                .image{
                    margin-left: 5px;
                }
                .w3-content {
                    width: 740px;
                    height: 400px;
                }

                .info{
                    position: relative;
                    float: left;
                    margin-top: 20px;
                    margin-left: 30px;
                }
                .info-detail{
                    margin-left: 20px;
                    width: 720px;
                }
                .info-detail table{
                    margin-left: 0px;
                }
                .cmt{
                    width: 720px;
                }

                .cmt-avt{
                    margin-left: 0px;
                }

                .box-cmt{
                    width: 550px;
                    margin-left: 80px;
                }
        }
        @media screen and (max-width: 600px) {
            .image{
                margin-left: 5px;
            }
            .w3-content {
                width: 560px;
                height: 300px;
            }

            .info{
                position: relative;
                float: left;
                margin-top: 20px;
                margin-left: 30px;
            }
            .info-detail{
                margin-left: 20px;
                width: 540px;
            }
            
            .info-detail table{
                margin-right: 10px;
            }
            .cmt{
                width: 540px;
            }

            .cmt-avt{
                margin-left: 0px;
            }

            .box-cmt{
                width: 400px;
                margin-left: 80px;
            }
        }
        @media screen and (max-width: 320px){
            .image{
                margin-left: 2px;
            }
            .w3-content {
                width: 300px;
                height: 180px;
            }

            .info{
                position: relative;
                float: left;
                margin-top: 10px;
                margin-left: 5px;
                width: 280px;
                font-size: 10px;
            }

            .avatar{
                width: 50px;
                height: 50px;
            }
            .info-detail{
                margin-left: 10px;
                width: 280px;
            }

            .info-detail .title{
                font-size: 16px;
            }
            .info-detail .address{
                font-size: 16px;
            }
            .info-detail .price{
                font-size: 16px;
            }

            h3{
                font-size: 14px;
            }
            
            .info-detail table{
                margin-right: 10px;
                font-size: 10px;
            }
            .cmt{
                width: 280px;
                font-size: 10px;
            }

            .cmt-avt{
                width: 40px;
                height: 40px;
                margin-left: 0px;
            }

            .cmt .fas{
                font-size: 10px;
            }
            .box-cmt{
                width: 190px;
                margin-left: 45px;
                font-size: 10px;
            }
        }